<!DOCTYPE html>
<html>
  <head>
    <title>Cincy AI - Kaggle Challenges | Home</title>
  </head>

  <body>
    <h2>Welcome to Cincy AI - Kaggle Challenges!</h2>

    This website houses all resources related to Kaggle challenges that the Cincy AI study group
    is currently working on.<br /><br /><br />

    <strong>Titanic Challenge</strong>
    <ul>
      <li>
        <a href="/upload_csv">Upload a .csv file</a>
      </li>
      <li>
        <a href="/submissions">View submissions</a>
      </li>
    </ul>
    <br />

    <strong>Changelog</strong>
    <ul>
      <li>
        <strong>Saturday - Oct 12, 2019</strong> | 0.0.14
        <ul>
          <li>
            Refactor filenames and dir structure to make code cleaner.
          </li>
        </ul>
      </li>
      <li>
        <strong>Monday - Oct 7, 2019</strong> | 0.0.13
        <ul>
          <li>
            Push first version of the .csv uploader, submissions listing, and postmortems generation.
          </li>
        </ul>
      </li>
      <li>
        <strong>Wednesday - Oct 2, 2019</strong> | 0.0.12
        <ul>
          <li>
            Initiate repo. Built in Python and Django; backed by Postgres.
          </li>
        </ul>
      </li>
    </ul>
  </body>
</html>
