{% block content %}
<div class="container">

  <h2>Kaggle | Titanic Challenge<br />Postmortem Report</h2>
  <a href="https://www.kaggle.com/c/titanic">Kaggle Titanic ML Challenge</a>
  <br /><br />

  Id: <strong>{{p.id}}</strong><br />
  Title: <strong>{{p.title}}</strong><br />
  Submitter: <strong>{{p.submitter}}</strong><br />
  Predictions: <strong>{{p.predictions}}</strong><br />
  Datetime: <strong>{{p.published}}</strong><br />
  Description: <strong>{{p.description}}</strong>
  <br /><br />

  Here is a breakdown of your predictions.
  <br />
  <h3>Overall:</h3>
  <ul>
    <li>Survived: <strong>{{p.Survived}}</strong></li>
    <li>Perished: <strong>{{p.Perished}}</strong></li>
    <li>Survival Probability: <strong>{{p.SurvivalProbability}}%</strong></li>
  </ul>

  <h3>By Sex:</h3>
  <ul>
    <li>Female:</li>
    <li>Male:</li>
  </ul>

  <h3>By Passenger Class (pclass):</h3>
  <ul>
    <li>First Class:</li>
    <li>Second Class:</li>
    <li>Third Class:</li>
  </ul>

  <h3>By Age Bins:</h3>
  <ul>
    <li>0-15:</li>
    <li>16-30:</li>
    <li>31-45:</li>
    <li>46-60:</li>
    <li>61-80:</li>
  </ul>

  <h3>By Passenger Class + Sex:</h3>
  <ul>
    <li>First Class:</li>
    <ul>
      <li>Female:</li>
      <li>Male:</li>
    </ul>
    <li>Second Class:</li>
    <ul>
      <li>Female:</li>
      <li>Male:</li>
    </ul>
    <li>Third Class:</li>
    <ul>
      <li>Female:</li>
      <li>Male:</li>
    </ul>
  </ul>

</div>
{% endblock %}
